a {
    color: #2F8F9D;
    margin: 20px;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
color: #EAF6F6;
}
body {
    color: #40514E;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
h1 {
    color: #2F8F9D;
    font-family: 'Merienda', cursive;
    font-size: 3.5rem;
    line-height: 1.5;
    margin: 40px auto 0 auto;
}
h2 {
    color: #3BACB6;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;}

hr {
    margin: 75px auto 75px auto;
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    border-color: #D0C9C0;
    border-width: 6px;
}

.pro {
    text-decoration: underline;
}

.top_container {
    padding-top: 100px;
    position: relative;
    background-color: #E8F9FD;
}



.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;

}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.python {
    margin: 50px 30px 50px auto;
    width: 25%;
    float: left;
}

.c {
    margin: 50px auto 50px 30px;
    width: 25%;
    float: right;
}

.programming {
    margin: 40px 30px 20px auto;
    width: 25%;
    float: left;
}

.languages {
    margin: 40px auto 40px 30px;
    width: 25%;
    float: right;
}

.languages-earth {
    margin: 40px 30px 20px auto;
    width: 25%;
    float: left;
}

.physics {
    margin: 40px auto 40px 30px;
    width: 25%;
    float: right;
}

.math {
    margin: 40px 30px 20px auto;
    width: 25%;
    float: left;
}


.skill-row {
    text-align: left;
    line-height: 2;
    margin: 100px auto 100px auto;
    width: 50%;
}

.middle-container {
    margin: 75px 0;
}

.bottom-container {
    background-color: #66BFBF;
    margin-bottom: 0;
    padding: 30px 0 20px;
}

.btn {
    margin: 20px auto 20px auto;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
  text-decoration: none;
}

.copyright-text {
    font-size: 0.75rem;
    margin: 30px auto;
    color: white;
}

.profile {
width: 30%;
margin: 0 auto 0 auto;
line-height: 2;
}
.contact-text {
width: 40%;
margin: 30px auto 50px auto;
}